<html>

<head>
    <meta charset="utf-8">
    <title>Coins</title>
    <style> 
        
    </style>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/foundation.css">
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left cool">
            <ul class="dropdown menu" data-dropdown-menu style="background-color:black">
                <li class="menu-text">coins</li>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
            </ul>
        </div>

    <!-- <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">coins</li>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
            </ul>
        </div> -->
        <!-- <div class="top-bar-right">

            <ul class="dropdown menu" data-dropdown-menu>
                {%if user %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {%else%}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {%endif%}
            </ul>

        </div> -->
    </div>

    <div class="container text-center" style=" padding-top: 15px;margin-top: 10%; margin-left: 10%; margin-right: 10%; background-color: rgb(0, 192, 206);">

        <div class="col-lg-12 text-align-center">
            <h1>Welcome to Coins!</h1>
            <h3>By: Shriya Anand, Oscar Wang, Ishraq Mahid, Naomi Naranjo</h3>
        </div>

        <div class="btn-container"> 
            {%if user %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
             {%else%}
            <a href="{{ url_for('register') }}" id="register" type="button" class="btn cool-btn">Register</a>
            <a href="{{ url_for('login') }}" id="login" type="button" class="btn cool-btn">Login</a>
            <!-- <a href="{{ url_for('login') }}">Log In</a> -->
            {%endif%}
            

            <!-- <ul class="dropdown menu" data-dropdown-menu>
                {%if user %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {%else%}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {%endif%}
            </ul> -->

        </div>

        

        
    </div>

    <!-- <div class="grid-x grid-padding-x">
        <div class="cell text-center ">
            <h1 class="text-center">Coins!</h1>
        </div>

    </div> -->

    <!-- Compressed JavaScript -->
</body>

</html>